{
    "postgres": {
        "host": "localhost",
        "port": 5432,
        "user": "spiel",
        "password": "",
        "database": "spiel"
    },
    "elasticsearch": {
        "host": "localhost",
        "port": 9200
    },
    "redis": {
        "host": "localhost",
        "port": 6379,
        "database": 3
    },
    "socketio_redis": {
        "host": "localhost",
        "port": 6379,
        "database": 4
    }
}

